input{
    margin: 10px;
}
h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
#submit{
    margin-top: 20px;
    margin-bottom: 20px; 
}